<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
    <title> Signup </title>
</head>

<body>
    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                <h5>{{message}}</h5>
                <form class="form-container" action="{{url_for('user_signup')}}" method="post">
                    <h4> Registration </h4>
                    <br>
                    <div class="form-group">
                        <label for="username"> Name </label>
                        <input type="text" class="form-control" id="username" name="name" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <small> Minimum of 8 characters. At least one capital letter [A-Z], one special character, and one number [0-9]. </small>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Repeat Password" required>
                    </div>
                    <div class="form-group">
                        <label for="university">University</label>
                        <input type="text" class="form-control" id="phonenumber" name="university" placeholder="University Name" required>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <select id="roles" name="role">
                            <option value="student">Student</option>
                            <option value="Instructor">Instructor</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block"> Sign up </button>
                    <a href="{{url_for('login')}}">Already have an account?</a><br>
                </form>
            </section>
        </section>
    </section>

</body>